### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Reading Data

Source: https://www.kaggle.com/rakannimer/billboard-lyrics

In [3]:
lyrics = pd.read_csv('Data/billboard-1964-2015-songs-lyrics/billboard_lyrics_1964-2015_utf-8.csv')

In [8]:
lyrics.columns = ['rank','song','artist','year','lyrics','source']

### A Quick Look At Data

In [9]:
lyrics.head()

,rank,song,artist,year,lyrics,source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [10]:
lyrics.tail()

,rank,song,artist,year,lyrics,source
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5096,97,she knows,neyo featuring juicy j,2015,NaN,NaN
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

### A Sample Lyric

In [12]:
lyrics['lyrics'][0]

'sam the sham miscellaneous wooly bully wooly bully sam the sham  the pharaohs  domingo samudio uno dos one two tres quatro matty told hatty about a thing she saw had two big horns and a wooly jaw wooly bully wooly bully wooly bully wooly bully wooly bully hatty told matty lets dont take no chance lets not belseven come and learn to dance wooly bully wooly bully wooly bully wooly bully wooly bully matty told hatty thats the thing to do get you someone really to pull the wool with you wooly bully wooly bully wooly bully wooly bully wooly bully lseven  the letter l and the number 7 when typed they form a rough square l7 so the lyrics mean lets not be square'

### A Look At the "year" Column

In [13]:
year_dist = pd.DataFrame(lyrics.year.value_counts())
year_dist.columns = ['Count']
year_dist['Percentage'] = lyrics.year.value_counts(normalize=True)
year_dist

      Count  Percentage
2015    100    0.019608
1965    100    0.019608
2005    100    0.019608
2001    100    0.019608
1997    100    0.019608
1993    100    0.019608
1989    100    0.019608
1985    100    0.019608
1981    100    0.019608
1977    100    0.019608
1973    100    0.019608
1969    100    0.019608
2012    100    0.019608
2013    100    0.019608
2008    100    0.019608
2004    100    0.019608
2000    100    0.019608
1996    100    0.019608
1992    100    0.019608
1988    100    0.019608
1984    100    0.019608
1980    100    0.019608
1976    100    0.019608
1972    100    0.019608
2009    100    0.019608
1966    100    0.019608
2011    100    0.019608
1967    100    0.019608
2007    100    0.019608
2003    100    0.019608
1999    100    0.019608
1995    100    0.019608
1991    100    0.019608
1987    100    0.019608
1983    100    0.019608
1979    100    0.019608
1975    100    0.019608
1971    100    0.019608
2014    100    0.019608
1970    100    0.019608
2010    100    0.019608
2006    100    0.019608
2002    100    0.019608
1998    100    0.019608
1994    100    0.019608
1990    100    0.019608
1986    100    0.019608
1982    100    0.019608
1978    100    0.019608
1974    100    0.019608
1968    100    0.019608

<div class="alert alert-success">
Potential Problem with this Dataset: Good Distribution of Year
</div>

### Remove Invalid "year"

### Look At the "genre" Column

In [14]:
genre_dist = pd.DataFrame(lyrics.genre.value_counts())
genre_dist.columns = ['Count']
genre_dist['Percentage'] = lyrics.genre.value_counts(normalize=True)
genre_dist

AttributeError: 'DataFrame' object has no attribute 'genre'

<div class="alert alert-warning">
Potentail Problem with this Dataset: Need to Collect the Genres of these songs
</div>

### Number of Unique Artist

In [15]:
artist_dist = pd.DataFrame(lyrics.artist.value_counts())
artist_dist.columns = ['Count']
artist_dist['Percentage'] = lyrics.artist.value_counts(normalize=True)
artist_dist

                                                    Count  Percentage
madonna                                                35    0.006863
elton john                                             26    0.005098
mariah carey                                           25    0.004902
janet jackson                                          22    0.004314
stevie wonder                                          22    0.004314
michael jackson                                        22    0.004314
taylor swift                                           19    0.003725
rihanna                                                19    0.003725
whitney houston                                        19    0.003725
kelly clarkson                                         17    0.003333
pink                                                   17    0.003333
the beatles                                            17    0.003333
the black eyed peas                                    16    0.003137
britney spears                                         16    0.003137
chicago                                                15    0.002941
usher                                                  14    0.002745
aretha franklin                                        14    0.002745
rod stewart                                            14    0.002745
katy perry                                             14    0.002745
the rolling stones                                     13    0.002549
r kelly                                                13    0.002549
boyz ii men                                            13    0.002549
maroon 5                                               13    0.002549
phil collins                                           13    0.002549
kool  the gang                                         13    0.002549
billy joel                                             12    0.002353
aerosmith                                              12    0.002353
bee gees                                               12    0.002353
neil diamond                                           12    0.002353
olivia newtonjohn                                      12    0.002353
...                                                   ...         ...
the pipkins                                             1    0.000196
bruce willis                                            1    0.000196
stevie nicks and don henley                             1    0.000196
james ingram                                            1    0.000196
bob seger system                                        1    0.000196
jimmy ray                                               1    0.000196
bon jovi featuring jennifer nettles                     1    0.000196
teri desario  kc                                        1    0.000196
dionne warwick  the spinners                            1    0.000196
jayz featuring mr hudson                                1    0.000196
dem franchize boyz featuring jermaine dupri da ...      1    0.000196
sanfordtownsend band                                    1    0.000196
big sean featuring chris brown                          1    0.000196
free                                                    1    0.000196
gerry and the pacemakers                                1    0.000196
the ad libs                                             1    0.000196
luther vandross and mariah carey                        1    0.000196
quad city djs                                           1    0.000196
dawn                                                    1    0.000196
wayne newton                                            1    0.000196
owl city and carly rae jepsen                           1    0.000196
rednex                                                  1    0.000196
big tymers                                              1    0.000196
linda ronstadt and james ingram                         1    0.000196
justin timberlake featuring jayz                        1    0.000196
wild cherry                                             1    0.000196
michael jackson with siedah garrett                     1    0.000196
zedd featuring hayley williams                          1    0.000196
chairmen of the board                                   1    0.000196
peabo bryson and roberta flack                          1    0.000196

[2473 rows x 2 columns]

In [16]:
len(lyrics.artist.value_counts())

2473

### Checking Number of Null Values

In [17]:
lyrics.isnull().sum()

rank        0
song        0
artist      0
year        0
lyrics    187
source    187
dtype: int64

### Remove Rows With Missing Values

### Plot Distribution of Year

### Look for Specific Artist

In [19]:
lyrics.loc[lyrics.artist=='taylor swift',:]

,rank,song,artist,year,lyrics,source
4288,89,teardrops on my guitar,taylor swift,2007,drew looks at me i fake a smile so he wont se...,1.0
4340,41,our song,taylor swift,2008,i was riding shotgun with my hair undone in t...,1.0
4347,48,teardrops on my guitar,taylor swift,2008,drew looks at me i fake a smile so he wont se...,1.0
4380,81,love story,taylor swift,2008,we were both young when i first saw you i clo...,1.0
4404,5,love story,taylor swift,2009,we were both young when i first saw you i clo...,1.0
4410,11,you belong with me,taylor swift,2009,youre on the phone with your girlfriend shes ...,1.0
4475,76,white horse,taylor swift,2009,say youre sorry that face of an angel comes o...,1.0
4545,46,mine,taylor swift,2010,oh oh oh oh oh ohyou were in college working ...,1.0
4556,57,you belong with me,taylor swift,2010,youre on the phone with your girlfriend shes ...,1.0
4583,84,today was a fairytale,taylor swift,2010,today was a fairytale you were the prince i u...,1.0
4673,74,back to december,taylor swift,2011,im so glad you made time to see me hows life ...,1.0
4732,33,we are never ever getting back together,taylor swift,2012,i remember when we broke up the first time sa...,1.0
4815,16,i knew you were trouble,taylor swift,2013,once upon time a few mistakes ago i was in yo...,1.0
4870,71,22,taylor swift,2013,it feels like a perfect night to dress up lik...,1.0
4912,13,shake it off,taylor swift,2014,i stay up too late got nothing in my brain th...,1.0
5006,7,blank space,taylor swift,2015,nice to meet you where you been i could show ...,1.0
5017,18,shake it off,taylor swift,2015,i stay up too late got nothing in my brain th...,1.0
5028,29,style,taylor swift,2015,midnight you come and pick me up no headlight...,1.0
5056,57,wildest dreams,taylor swift,2015,he said lets get out of this town drive out o...,1.0